
@{
    ViewBag.Title = "Index";
}

<h2>P1</h2>

<form action="/Products/Index" method="post">
    <table>
        <tr>
            <td><label>Pseudo :</label></td>
            <td><input type="text" name="pseudo" /></td>
        </tr>
        <tr>
            <td><label>Password :</label></td>
            <td><input type="password" name="password" /></td>
        </tr>
    </table>
    <input type="submit" value="login" />
</form>

<p>@ViewBag.message</p>